
  <body>
    <h1>YOUR RANDOM NUMBER IS <%=random%></h1>

    <% if(random % 2 === 0){ %>
    <h2>that is a even number</h2>
    <% }else{ %>
    <h2>that is a odd number</h2>
    <% }%>
  </body>
</html>
